<div class="todos">
   <div>
     <form (submit)="addTodo($event)">
       <input [(ngModel)]="newTodo" (keyup.enter)="newTodo=''" 
       class="textfield" type="text" name="newTodo">
       <button type="submit" [disabled]="newTodo==''">Add</button>
     </form>
   </div>

   <div [hidden]="newTodo">
     Type in a new Todo...

   </div>

   <div [hidden]="!newTodo">
     Typing {{newTodo}}
 
    </div>

    <table>
    <ul>
      <tr>
          <th>complete</th>
          <th>Todo</th>
          <th>Delete</th>
      </tr>
       
      <li *ngFor="let todo of todos">
          <tr>
        <td><input type="checkbox" class="checkbox" [(ngModel)]="todo.completed"></td>
      <td><span [ngClass]="{'checked':todo.completed}">{{todo.newTodo}}</span></td>
    <td><button (click)="deleteTodo(todo)">Delete</button></td>
      </tr>
    </li>
    </ul>

  </table>

    
      
         
      

</div>